<div class="container">
  <section class="todoapp">
    <!--componetn listheader-->
    <pr-list-header (add)="onAddTodo($event)"></pr-list-header>
    <!--component list component it has the list item implementation-->
    <pr-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)"
                 (remove)="onRemoveTodo($event)"></pr-todo-list>
    <!--component footer-->
    <pr-list-footer [todos]="todos"></pr-list-footer>
  </section>
</div>
<router-outlet></router-outlet>
